
#title
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 380px;
	height: 80px;
	background: #3B2D38;
	color: white;
	border-style: dotted;
	padding: 2px 2px 2px 2px;

} 

#formation
{
	text-align: left;
	width: 600px;
	background: #CFBE27;
	color: white;
	border-style: dotted;
	padding: 35px 30px 30px 30px;
	margin-left: 50px;
} 


#Exp
{
	width: 600px;
	color: white;
	border-style: dotted;
	background: #F27435;
	padding: 35px 30px 30px 30px;
	margin-left: 50px
}

#Lang
{
	background: #F02475;
	color: white;
	border-style: dotted;
	padding: 35px 30px 30px 30px;
	width: 600px;
	margin-left: 50px;
} 